@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

::-webkit-scrollbar {
  display: none;
}

/* General layout */
body, html {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
}

.bodyLeft {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 25%;
}
.bodyMid {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 1em;
  box-sizing: border-box;
}

.doorModal {
  align-self: center;
}


.bodyRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  gap: 1em;
  width: 25%;
}

.nes-badge {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.dialog-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 1em;
}

/* Options container at the bottom */
.options-container {
  display: flex;
  justify-content: center;
  
  align-items: center;
  gap: 1em;
  padding: 1em;
  box-sizing: border-box;
}

/* Style for messages */
.message.-left {
  align-self: flex-start;
}

.message.-right {
  align-self: flex-end;
}

/* Inventory item styling */
.item-icon {
  font-size: 1rem;
  line-height: 1;
}

/* Typewriter effect for dialogue text */
.typewriter p {
  display: inline-block;
  overflow: hidden;
  animation: typing 3s steps(30, end);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

#fadeScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
}

/* Mobile view adjustments */
@media only screen and (max-width: 1000px) {
  body {
    flex-direction: column;
    height: 100vh;
  }

  .bodyRight {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30vh;
  }

  .bodyMid {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
  }

  .nes-badge {
    display: none; 
  }

  .item-icon {
    font-size: 0.5rem;
    line-height: 0;
  }

  .nes-octocat {
    display: none;
  }

  .typewriter p {
    font-size: 0.9rem;
  }

  #inventoryContainer {
    height: 50%;
  }

  .health {
    height: 50%;
  }

  .bodyLeft {
    display: none;
  }

}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.options-container .nes-btn {
  display: inline-block;
  margin: 5px;
  white-space: normal; /* Ensure buttons can wrap text */

}